<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title><%- content.title %></title>

<body>
  <table border="0" cellspacing="0" cellpadding="0" width="800px" style="border:1px solid #c0c0c0" align="center">
    <tbody>
      <tr>
        <td style="width:650px; height: 30px">
        </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" border="0" width="800px">
            <tbody>
              <tr>
                <td style="width:45px">
                  <br>
                </td>
                <td style="width:750px">
                  <div class="m_302787335969032636body">
                    <table width="100%" cellpadding="0" cellspacing="0"
                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                      <tr
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-block"
                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                          valign="top">
                          <h2 class="aligncenter"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; font-size: 20px; color: #000; line-height: 1.2em; font-weight: 400; text-align: center; margin: 40px 0 0;"
                            align="center"><%- content.title %></h2>
                        </td>
                      </tr>
                      <tr
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-block aligncenter"
                          style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; margin: 0; padding: 0 0 20px;"
                          align="center" valign="top">
                          <table class="invoice"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; text-align: left; width: 95%; margin: 10px auto;">
                            <tr
                              style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                              <td
                                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 5px 0;"
                                valign="top">
                                <table class="invoice-items" cellpadding="0" cellspacing="0"
                                  style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; margin: 0;">
                                  <tr
                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; color: #30ab32;">
                                    <td
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0; font-size: 14px"
                                      valign="top">Số giao dịch thành công: </td>
                                    <td class="alignright"
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0; font-weight: 700; font-size: 18px"
                                      align="right" valign="top"><%- content.countSuccess %></td>
                                  </tr>
                                  <tr
                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; color: #d67f0f;">
                                    <td
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0; font-size: 14px"
                                      valign="top">Số giao dịch hoàn tiền: </td>
                                    <td class="alignright"
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0; font-weight: 700; font-size: 18px"
                                      align="right" valign="top"><%- content.countRefund %></td>
                                  </tr>

                                  <tr
                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; color: #30ab32;">
                                    <td
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; border-top-width: 1px; border-top-color: #aaa; border-top-style: solid; margin: 0; padding: 5px 0; font-size: 14px"
                                      valign="top">Tổng tiền giao dịch thành công: </td>
                                    <td class="alignright"
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 1px; border-top-color: #aaa; border-top-style: solid; margin: 0; padding: 5px 0; font-weight: 700; font-size: 18px"
                                      align="right" valign="top"><%- content.amountSuccess %> ₫</td>
                                  </tr>
                                  <tr
                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; color: #d67f0f;">
                                    <td
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0; font-size: 14px"
                                      valign="top">Tổng tiền giao dịch hoàn: </td>
                                    <td class="alignright"
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 1px; border-top-color: #eee; border-top-style: solid; margin: 0; padding: 5px 0; font-weight: 700; font-size: 18px"
                                      align="right" valign="top"><%- content.amountRefund %> ₫</td>
                                  </tr>

                                  <tr
                                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; color: #055379;">
                                    <td
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; border-top-width: 1px; border-top-color: #aaa; border-top-style: solid; margin: 0; padding: 5px 0; font-size: 14px"
                                      valign="top">Tổng tiền đối soát:</td>
                                    <td class="alignright"
                                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 1px; border-top-color: #aaa; border-top-style: solid; margin: 0; padding: 5px 0; font-weight: 700; font-size: 18px"
                                      align="right" valign="top"><%- content.amountWithdraw %> ₫</td>
                                  </tr>

                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>

                    </table>
                    <br>
                    <div>
                      <hr style="color:#f26300;border:0;height:2px;background-color:#f26300">
                    </div>
                  </div>
                  <div align="left"
                    style="padding-bottom:15px;color:#58585a;font-family:Tahoma;font-size:9pt;vertical-align:top;height:22px">
                    <div>Thư này được gửi từ <%= content.footer %></div>
                  </div>
                </td>
                <td style="width:45px">
                  <br>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>