<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>WMV thông báo</title>

<body>
  <table border="0" cellspacing="0" cellpadding="0" width="800px" style="border:1px solid #c0c0c0" align="center">
    <tbody>
      <td style="width:650px; height: 30px;text-align: center;">
        <img src="https://WMV.vn/web/images/WMV-logo@2x.png" alt="WMV" style="width: 150px; padding-top: 40px;">
      </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" border="0" width="800px">
            <tbody>
              <tr>
                <td style="width:45px">
                  <br>
                </td>
                <td style="width:750px">
                  <div class="m_302787335969032636body">
                    <div style="font-weight:bold;color:#58585a;font-family:Tahoma;font-size:10pt">
                      <br><b>Xác thực đăng nhập WMV</b>
                    </div>
                    <br>
                    <div style="padding-bottom:5px;color:#58585a;font-family:Tahoma;font-size:10pt">

                      <br><br>
                      Mã xác thực của bạn là <b><%= content.message %></b>
                    </div>
                    <div style="padding-bottom:5px;color:#58585a;font-family:Tahoma;font-size:10pt">
                      <br>
                      Để đảm bảo an toàn, tuyệt đối KHÔNG cung cấp hoặc chia sẻ OTP/MẬT KHẨU tài khoản của bạn
                      cho người khác.
                      <br>
                      Trân trọng.
                    </div>
                    <br>
                    <div>
                      <hr style="color:#f26300;border:0;height:2px;background-color:#0daa27">
                    </div>
                  </div>
                  <div align="left"
                    style="padding-bottom:15px;color:#58585a;font-family:Tahoma;font-size:9pt;vertical-align:top;height:22px">
                    <div>Thư này được gửi từ WMV</div>
                  </div>
                </td>
                <td style="width:45px">
                  <br>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>